@use 'variables';

.nav {
    background-color: variables.$color;
}

.nav {
    background-color: steelblue;

    //usando bem
    &__container {
        width: 90%;
        margin: 0 auto;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__item {
        color: #fff;
        text-decoration: none;

        &--active {
            text-decoration: underline;
        }

        // &:hover {
        //     color: #000;
        // }
    }

    @media (min-width:764px) {}
}