@use 'variables';
@use 'mixinsfunc';

$primary: crimson;

:root {
    --primary: #{$primary};
}

.nav {
    background-color: steelblue;

    //usando bem
    &__container {
        width: 90%;
        margin: 0 auto;
        height: 70px;
        @include mixinsfunc.crear-flexbox(space-evenly);
        gap: 1em;
    }

    &__item {
        color: #fff;
        text-decoration: none;

        &--active {
            text-decoration: underline;
        }

        // &:hover {
        //     color: #000;
        // }
    }

    @media (min-width:764px) {
        &__container {
            justify-content: flex-end;
        }
    }
}